.test {background: #f79256  #fbd1a2  #7dcfb6  #00b2ca  #1d4e89

#8ecae6  #219ebc  #023047  #ffb703  #fb8500 #bfe5f8

 #ffffff  #00171f  #003459  #007ea7  #00a8e8

#3d5a80  #98c1d9  #e0fbfc  #ee6c4d #293241
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #023047;    
}

img {
    max-width: 100%;
    display: block;
}
/* Typography */ 

h1 {
    margin: 0;
}

header p {
    margin: 0;
}

a {
    color: #023047;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #fb8500;
    border-bottom: 2px solid #fb8500;
    padding-bottom: .25em;
}


/* Layout */

.container {    
    width: 90%;
    max-width: 1250px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    justify-content: space-between;    
}

.container-flex-around {
    display: flex;
    justify-content: space-around;    
}

header {
    text-align: center;
    padding: 2em 0;
    background: #8ecae6;    
}

footer {    
    padding: 2em 0;
    background: #8ecae6; 
}

.site-title {
    display: flex;
    flex-direction: column;    
}

.main-section {
    margin: 2em 0;
}

/*
Voor als plaatje er moet komen
.site-title-main {
    order: 2;
    margin-left: 1em;
}

.site-title-secondary {
    order: 1;
}
*/

.site-title img {
    width: 20%;
    
}

nav ul {
    list-style: none;
    display: flex;   
}

nav li {
    margin-left: 2em;
}